@model CalisanListeleViewModel



<div class="card text-white bg-dark mb-3" style="max-width: 72rem;">
    <div class="card-header">@Model.RolAdi</div>
    <div class="card-body">
        <h5 class="card-title">@Model.InsanAdi  @Model.InsanSoyadi</h5>
        <p class="card-text">Diploma numarası: @Model.DiplomaNo</p>
        <p class="card-text">TCKN: @Model.InsanTckn</p>
        <p class="card-text">
            Çalışma durumu: @if (Model.CalisiyorMu.Value)
            {
                @:Çalışıyor
            }
            else
            {
                @:Çalışmıyor
            }
        </p>
        <p class="card-text">Maaşı: @Model.Maas</p>
        <p class="card-text">
            E-Mail Adresi: <a href="mailto:@Model.InsanMail">
                @Model.InsanMail
            </a>
        </p>
        @if (Model.InsanTel != null)
        {
            var formattedTelNo = FormatTelefon(Model.InsanTel);
            var telNo = "9" + Model.InsanTel;

            <p class="card-text">Telefonu: <a href="https://api.whatsapp.com/send?phone=@telNo" target="_blank">@formattedTelNo</a></p>
        }

        @functions {
            public string FormatTelefon(string telefon)
            {
                if (string.IsNullOrEmpty(telefon))
                    return string.Empty;

                string cleaned = new string(telefon.Where(char.IsDigit).ToArray());

                if (cleaned.Length == 11)  
                    return $"+90 {cleaned.Substring(1, 3)} {cleaned.Substring(4, 3)}  {cleaned.Substring(7,2)} {cleaned.Substring(9,2)}";
                else
                    return telefon; 
              
            }
        }


        <a href="#" class="btn btn-primary">Düzenle</a>

    </div>
</div>

