@model (AppUser, List<HayvanlarViewModel>)

@{
    var user = Model.Item1;
    var hayvanlar = Model.Item2;
    var kalanSure = (user.SifreGecerlilikTarihi - DateTime.Now).Days;

}

@{
    Layout = "_LayoutAccount";
}

@section Information {

    <div class="card text-white bg-dark mb-3">
        <div class="row no-gutters">
            <div class="col-md-4">
                <div class="m-3 text-center">
                    <img src="@if (user.ImgURL != null) { @user.ImgURL } else { @Url.Content("~/img/user.svg") }" class="card-img">
                    <div class="mt-3">
                        @*<form action="~/img/@user.UserName/" method="post" enctype="multipart/form-data">
                                <input type="file" id="fileInput" name="file" accept="image/*" style="display: none;">
                                <button type="button" class="btn btn-primary" onclick="document.getElementById('fileInput').click();">Profil Fotoğrafı Ekle</button>
                            </form>*@
                    </div>
                </div>
            </div>

            <div class="col-md-8 align-self-start">
                <div class="d-flex flex-column">
                    <div class="card-header font-weight-bold pl-0">
                        <h3>@user.InsanAdi.ToUpper() @user.InsanSoyadi.ToUpper()</h3>
                    </div>
                    <div class="">
                        <h6 class="card-title mt-2">TCKN: @user.InsanTckn</h6>
                        <h6 class="card-title mt-2">Şifre Geçerlilik Süresi: @kalanSure Gün</h6>

                        @if (hayvanlar.Count > 0)
                        {
                            <h6 class="card-title">Sahip Olunan Hayvanlar</h6>
                            <div class="table-responsive-xl">
                                <table class="table table-hover table-dark text-center mb-0 rounded-top-lg">
                                    <thead>
                                        <tr>
                                            <th scope="col" class="text-center">Hayvan Adı</th>
                                            <th scope="col" class="text-center">Türü</th>
                                            <th scope="col" class="text-center">Cinsi</th>
                                            <th scope="col" class="text-center">Rengi</th>
                                            <th scope="col" class="text-center">Kilosu</th>
                                            <th scope="col" class="text-center">Cinsiyeti</th>
                                            <th scope="col" class="text-center">Doğum Tarihi</th>
                                            <th scope="col" class="text-center">Ölüm Tarihi</th>
                                        </tr>
                                    </thead>
                                    <tbody>
                                        @foreach (var hayvan in hayvanlar)
                                        {
                                            <tr role="button" class="clickable-row" id="row-@hayvan.HayvanId" onclick="window.location.href='/Animal/Information?hayvanId=@hayvan.HayvanId'">
                                                <td class="text-center">@hayvan.HayvanAdi.ToUpper()</td>
                                                <td class="text-center">@hayvan.TurAdi</td>
                                                <td class="text-center">@hayvan.CinsAdi</td>
                                                <td class="text-center">@hayvan.RenkAdi</td>
                                                <td class="text-center">@hayvan.HayvanKilo</td>
                                                <td class="text-center">
                                                    @if (hayvan.HayvanCinsiyet == "d" || hayvan.HayvanCinsiyet == "D")
                                                    {
                                                        @:Dişi
                                                    }
                                                    else
                                                    {
                                                        @:Erkek
                                                    }
                                                </td>
                                                <td class="text-center">@hayvan.HayvanDogumTarihi.ToString("dd-MM-yyyy")</td>
                                                <td class="text-center">
                                                    @if (hayvan.HayvanOlumTarihi != null)
                                                    {
                                                        @hayvan.HayvanOlumTarihi?.ToString("dd-MM-yyyy")
                                                    }
                                                    else
                                                    {
                                                        @:Hayatta
                                                    }
                                                </td>
                                            </tr>
                                        }
                                    </tbody>
                                </table>

                            </div>

                        }
                        <p class="card-text">
                            E-Mail Adresi: <a href="mailto:@user.Email">@user.Email</a>
                        </p>

                        @if (user.PhoneNumber != null)
                        {
                            var formattedTelNo = FormatTelefon(user.PhoneNumber);
                            var telNo = "9" + user.PhoneNumber;

                            <p class="card-text">Telefonu: <a href="https://api.whatsapp.com/send?phone=@telNo" target="_blank">@formattedTelNo</a></p>
                        }

                        @functions {
                            public string FormatTelefon(string telefon)
                            {
                                if (string.IsNullOrEmpty(telefon))
                                    return string.Empty;

                                string telNo = new string(telefon.Where(char.IsDigit).ToArray());

                                if (telNo.Length == 11)
                                    return $"+90 {telNo.Substring(1, 3)} {telNo.Substring(4, 3)}  {telNo.Substring(7, 2)} {telNo.Substring(9, 2)}";
                                else
                                    return telefon;

                            }
                        }
                        </input>
                        <input type="hidden" name="id" value="@Model.Item1.Id" />


                        <a href="/User/EditUser" class="btn btn-secondary mb-3">Düzenle</a>
                        @if (User.IsInRole("MÜŞTERİ"))
                        {<a href="/User/SendDeletionEmail" class="btn btn-secondary ml-3 mb-3" data-toggle="tooltip" data-placement="top" title="Mail adresinize bir onay maili gönderilcektir.">Hesabımı Sil</a>}
                        <a href="/User/ChangePassword" class="btn btn-secondary ml-3 mb-3">Şifremi Değiştir</a>
                        <a href="/Animal/AddAnimal" class="btn btn-secondary ml-3 mb-3">Hayvan Ekle</a>
                    </div>
                </div>
            </div>
        </div>
    </div>

    
    @if (TempData["MailGonderildi"] != null)
    {
        <div class="alert alert-success" id="MailGonderildi">@TempData["MailGonderildi"]</div>
        <script>
            setTimeout(function () {
                var Message = document.getElementById("MailGonderildi");
                Message.remove();
            }, 5500);
        </script>
    }

    @if (TempData["ErrorMessage"] != null)
    {
        <div class="alert alert-danger" id="ErrorMessage">@TempData["ErrorMessage"]</div>
        <script>
            setTimeout(function () {
                var Message = document.getElementById("ErrorMessage");
                Message.remove();
            }, 5500);
        </script>
    }

}


