@model KisileriListeleViewModel


<form asp-action="KisiSec" asp-controller="Admin" method="post">

    <div class="card text-white bg-dark mb-3" style="max-width: 72rem;">
        <div class="card-header font-weight-bold">@Model.RolAdi</div>
        <div class="card-body">
            <h5 class="card-title">@Model.InsanAdi  @Model.InsanSoyadi</h5>
            <p class="card-text">Diploma numarası: @Model.DiplomaNo</p>
            <p class="card-text">TCKN: @Model.InsanTckn</p>
            <p class="card-text">
                Çalışma durumu: @if (Model.CalisiyorMu)
                {
                    @:Çalışıyor
                }
                else
                {
                    @:Çalışmıyor
                }
            </p>
            <p class="card-text">Maaşı: @Model.Maas</p>
            <p class="card-text">
                E-Mail Adresi: <a href="mailto:@Model.Email">@Model.Email</a>
            </p>
            @if (Model.PhoneNumber != null)
            {
                var formattedTelNo = FormatTelefon(Model.PhoneNumber);
                var telNo = "9" + Model.PhoneNumber;

                <p class="card-text">Telefonu: <a href="https://api.whatsapp.com/send?phone=@telNo" target="_blank">@formattedTelNo</a></p>
            }

            @functions {
                public string FormatTelefon(string telefon)
                {
                    if (string.IsNullOrEmpty(telefon))
                        return string.Empty;

                    string telNo = new string(telefon.Where(char.IsDigit).ToArray());

                    if (telNo.Length == 11)
                        return $"+90 {telNo.Substring(1, 3)} {telNo.Substring(4, 3)}  {telNo.Substring(7, 2)} {telNo.Substring(9, 2)}";
                    else
                        return telefon;

                }
            }
            <input asp-for="InsanTckn" type="hidden" >
            </input>
            <button type="submit" class="btn btn-secondary rounded mb-2" form-col>Düzenle</button>
        </div>
    </div>
</form>


