@model AddNewSahipViewModel


<h3 class="font-weight-bold text-white">
    Yeni Sahip Ekle   <i class="fa-solid fa-user-pen"></i>

    <hr />
</h3>
<div class="card text-white bg-dark mb-3">
    <form asp-action="AddSahip" asp-controller="Animal">
        <div class="row no-gutters">
            <div class="col-md-4">
                <div class="m-3 text-center">
                    <img src="@if (Model.ImgUrl != null) { @Model.ImgUrl } else { @Url.Content("~/img/animal.png") }" class="card-img" alt="@Model.HayvanAdi" style="min-height:377px; object-fit:cover">
                </div>
            </div>
            <div class="col-md-8 align-self-start">
                <div class="d-flex flex-column">
                    <div class="card-header font-weight-bold pl-0 ">
                        <h3>@Model.HayvanAdi.ToUpper()</h3>
                    </div>
                    <div>
                        <h6 class="card-title mt-2">Türü : @Model.TurAdi</h6>
                        <h6 class="card-title mt-2">Cinsi : @Model.CinsAdi</h6>
                        <h6 class="card-title mt-2">Kilosu : @Model.HayvanKilo</h6>
                        <h6 class="card-title mt-2">Rengi : @Model.RenkAdi</h6>
                        <h6 class="card-title mt-2">
                            Cinsiyeti :@if (Model.HayvanCinsiyet==Cinsiyet.Erkek)
                            {
                                @:Erkek
                            }
                            else
                            {
                                @:Dişi
                            }
                        </h6>
                        <h6 class="card-title mt-2">Doğum Tarihi : @Model.HayvanDogumTarihi.ToString("dd-MM-yyyy")</h6>
                        <h6 class="card-title mt-2">
                            Ölüm Tarihi :@if (Model.HayvanOlumTarihi != null)
                            {
                                @Model.HayvanOlumTarihi?.ToString("dd-MM-yyyy")
                            }
                            else
                            {
                                @:Hayatta
                            }
                        </h6>
                        <div class="d-flex flex-column">
                            <div class="col-sm-9 mb-2 px-0">
                                <input type="text" asp-for="YeniSahipTCKN" class="form-control" placeholder="Yeni Sahibin TCKN numarasını giriniz.">
                                <input type="hidden" asp-for="HayvanId" value="@Model.HayvanId" />
                                <input type="hidden" asp-for="UserTCKN" value="@Model.UserTCKN" />
                                <input type="hidden" asp-for="Signature" value="@Model.Signature" />

                            </div>
                            <button type="submit" class="col-sm-9 pl-0 btn btn-secondary mb-3">Yeni Sahip Ekle</button>
                            <div>
                                <span class="font-weight-bold text-danger bg-light text-danger rounded" asp-validation-for="YeniSahipTCKN"></span>
                            </div>
                        </div>
                        @if (ViewBag.Mail != null)
                        {
                            <div class="alert alert-success" role="alert" id="Mail">
                                @ViewBag.Mail
                            </div>
                        }
                        @if (ViewBag.MailHata != null)
                        {
                            <div class="alert alert-danger" role="alert" id="MailHata">
                                @ViewBag.MailHata
                            </div>

                        }
                    </div>
                </div>
            </div>
        </div>
    </form>
</div>

@section Scripts
{
    <script>
        setTimeout(function () {
            var message = document.getElementById("MailHata");
            message.remove();
        }, 5000);

        setTimeout(function () {
            var message = document.getElementById("Mail");
            message.remove();
        }, 5000);
    </script>
}