
@model EditAnimalViewModel;
@{
    Layout = "_LayoutAccount";
}

@section editAnimal{
    <form asp-action="SaveEdit" asp-controller="Animal" method="post">
        <div class="form-col">

            <div class="form-group row mb-3">
                <label asp-for="HayvanAdi" class="col-sm-2 col-form-label">Hayvan Adı</label>
                <div class="col-sm-10">
                    <input type="text" asp-for="HayvanAdi" class="form-control" placeholder="Hayvan Adı">
                    <div class="mt-2">
                        <span class="font-weight-bold text-danger bg-light text-danger rounded" asp-validation-for="HayvanAdi">
                        </span>
                    </div>
                </div>
            </div>
            <div class="form-group row mb-3">
                <label asp-for="HayvanDogumTarihi" class="col-sm-2 col-form-label">Doğum Tarihi</label>
                <div class="col-sm-10">
                    <input type="date" asp-for="HayvanDogumTarihi" class="form-control" max="@DateTime.Now.ToString("yyyy-MM-dd")">
                    <div class="mt-2">
                        <span class="font-weight-bold text-danger bg-light text-danger rounded" asp-validation-for="HayvanDogumTarihi">
                        </span>
                    </div>
                </div>
            </div>
            <div class="form-group row mb-3">
                <label class="col-sm-2 col-form-label d-flex align-items-center">
                    Ölüm Tarihi
                    <input class="ml-2" asp-for="isDeath" type="checkbox" id="flexCheckDefault">
                </label>

                <div class="col-sm-10">
                    <input type="date" asp-for="HayvanOlumTarihi" class="form-control" max="@DateTime.Now.ToString("yyyy-MM-dd")">
                    <div class="mt-2">
                        <span class="font-weight-bold text-danger bg-light text-danger rounded" asp-validation-for="HayvanOlumTarihi"></span>
                        <span class="font-weight-bold text-danger bg-light text-danger rounded" asp-validation-for="isDeath"></span>

                    </div>
                </div>
            </div>


            <div class="form-group row mb-3 pl-3 d-flex justify-content-between">
                <div class="row-sm-2">
                    <label asp-for="CinsId" class="row-sm-2 col-form-label">Cinsi</label>
                    <select id="cins" asp-for="CinsId" class="form-control" asp-items="Model.CinsAdlari">
                        <option value="@Model.CinsId" contextmenu="@Model.cinsi" disabled selected>Cins Seçin</option>
                    </select>
                    <div class="mt-2">
                        <span class="font-weight-bold text-danger bg-light text-danger rounded" asp-validation-for="CinsId">
                        </span>
                    </div>
                </div>
                <div class="row-sm-4">
                    <label asp-for="TurId" class="row-sm-2 col-form-label">Türü</label>
                    <select id="tur" asp-for="TurId" class="form-control" asp-items="Model.TurAdlari">
                        <option value="@Model.TurId" contextmenu="@Model.turu" disabled selected>Tür Seçin</option>
                    </select>
                    <div class="mt-2">
                        <span class="font-weight-bold text-danger bg-light text-danger rounded" asp-validation-for="TurId">
                        </span>
                    </div>
                </div>
                <div class="row-sm-4">
                    <label asp-for="RenkId" class="row-sm-2 col-form-label">Rengi</label>
                    <select id="cins" asp-for="RenkId" class="form-control" asp-items="Model.RenkAdlari">
                        <option value="@Model.RenkId" contextmenu="@Model.rengi" disabled selected>Cins Seçin</option>
                    </select>
                    <div class="mt-2">
                        <span class="font-weight-bold text-danger bg-light text-danger rounded" asp-validation-for="RenkId">
                        </span>
                    </div>
                </div>
                <div class="row-sm-4">
                    <label asp-for="HayvanCinsiyet" class="row-sm-2 col-form-label">Cinsiyeti</label>
                    <select id="cins" asp-for="HayvanCinsiyet" class="form-control" asp-items="Model.CinsiyetList">
                        <option value="" disabled selected>Cinsiyet Seçin</option>
                    </select>
                    <div class="mt-2">
                        <span class="font-weight-bold text-danger bg-light text-danger rounded" asp-validation-for="HayvanCinsiyet">
                        </span>
                    </div>
                </div>
                <div class="row-sm-4 mr-3">
                    <label asp-for="HayvanKilo" class="row-sm-2 col-form-label">Hayvan Kilosu</label>
                    <input type="number" asp-for="HayvanKilo" class="form-control" placeholder="Hayvan Kilosu" step="0.1" min="0">
                    </input>
                    <div class="mt-2">
                        <span class="font-weight-bold text-danger bg-light text-danger rounded" asp-validation-for="HayvanKilo">
                        </span>
                    </div>
                </div>
            </div>

            <div class="form-group row mb-3">
                <label asp-for="HayvanAnneId" class="col-sm-2 col-form-label">Hayvan Annesi</label>
                <div class="col-sm-10">
                    <select id="cins" asp-for="HayvanAnneId" class="form-control" asp-items="Model.HayvanAnneList">
                        <option value="" disabled selected>Anne Seçin</option>
                    </select>
                    <div class="mt-2">
                        <span class="font-weight-bold text-danger bg-light text-danger rounded" asp-validation-for="HayvanAnneId">
                        </span>
                    </div>
                </div>
            </div>

            <div class="form-group row mb-3">
                <label asp-for="HayvanBabaId" class="col-sm-2 col-form-label">Hayvan Babası</label>
                <div class="col-sm-10">
                    <select id="cins" asp-for="HayvanBabaId" class="form-control" asp-items="Model.HayvanBabaList">
                        <option value="" disabled selected>Baba Seçin</option>
                    </select>
                    <div class="mt-2">
                        <span class="font-weight-bold text-danger bg-light text-danger rounded" asp-validation-for="HayvanBabaId">
                        </span>
                    </div>
                </div>
            </div>

            <div class="form-group row mb-3">
                <label asp-for="SahiplikTarihi" class="col-sm-2 col-form-label">Sahiplenme Tarihi</label>
                <div class="col-sm-10">
                    <input type="date" asp-for="SahiplikTarihi" class="form-control" max="@DateTime.Now.ToString("yyyy-MM-dd")">
                    <div class="mt-2">
                        <span class="font-weight-bold text-danger bg-light text-danger rounded" asp-validation-for="SahiplikTarihi">
                        </span>
                    </div>
                </div>
            </div>

            <div class="form-group row mb-3">
                <label asp-for="SahiplikCikisTarihi" class="col-sm-2 col-form-label">Sahiplik Çıkış Tarihi</label>
                <div class="col-sm-10">
                    <input type="date" asp-for="SahiplikCikisTarihi" class="form-control" max="@DateTime.Now.ToString("yyyy-MM-dd")">
                    <div class="mt-2">
                        <span class="font-weight-bold text-danger bg-light text-danger rounded" asp-validation-for="SahiplikCikisTarihi">
                        </span>
                    </div>
                </div>
            </div>

            <input type="hidden" asp-for="HayvanId" />
        </div>
        <button type="submit" class="col btn btn-primary">Kaydet</button>
    </form>

    @if (TempData["Edit"] != null)
    {
        <div class="alert alert-success" id="successMessage">@TempData["Edit"]</div>
        <script>
            setTimeout(function () {
                var successMessage = document.getElementById("successMessage");
                successMessage.remove();
            }, 2500);
        </script>
    }

    <script>
         $(document).ready(function () {
            function turleriGetir(cinsId, seciliTurId) {
                $.getJSON('@Url.Action("TurleriGetir", "Animal")', { cinsId: cinsId }, function (veri) {
                    var turSecim = $('#tur');
                    turSecim.empty();
                    turSecim.append('<option value="" disabled selected>Tür Seçin</option>');

                    $.each(veri, function (index, item) {
                        turSecim.append($('<option>', {
                            value: item.value,
                            text: item.text
                        }));
                    });

                    if (seciliTurId) {
                        turSecim.val(seciliTurId);
                    }
                });
            }

            var ilkCinsId = $('#cins').val();
            var seciliTurId = '@Model.TurId';

            if (ilkCinsId) {
                turleriGetir(ilkCinsId, seciliTurId);
            }

            $('#cins').change(function () {
                var cinsId = $(this).val();
                turleriGetir(cinsId);
            });
        });


    </script>
}

